{% extends 'testapp/base.html' %}
{% load static %}

<!---Body block-->
{% block body_block %}


<div class="row">
    <div class="col-lg-3 col-md-3 mt-4 ">
        <div class="border">
            <!--card-->
            <div class="card-header text-center">
                <h3 class="cardheader">Add Category</h3>
            </div>
            <div class="card-body">
                <form method="POST" id="form" action="/add-category/">
                    {% csrf_token %}
                    <div class="form-group">

                        <label> Category Name</label>
                        <input type="text" name="name" id="name" class="form-control mt-3" value="{{category.name}}"
                            required>
                        <small id="errorName"></small>
                    </div> <br>

                    <div class="d-grid gap-2 col-4 mx-auto">
                        <button type="submit" class="btn btn-outline-primary ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-------Table List-->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-lg-8 mt-2" style="margin-left: auto;">

        <div style="margin-top: 12px;">
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>

        <table class="table table-hover fw-bold border border-bottom-0 text-dark mt-3">
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
            {% for i in resData reversed %}
            <tr class="">
                <td>{{i.name}}</td>

                <td><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal-{{i.id}}" data-bs-whatever="@mdo" class="btn btn-success">Update</a> </td>
                <td><a href="/delete-category/{{i.id}}/"  class="btn btn-danger">Delete</a> </td>
            </tr>

            <!-----Model for Update -->
            <div class="modal fade" id="exampleModal-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" id="myForm" action="/update-category/{{i.id}}/">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Name </label>
                                    <input type="text" class="form-control" id="recipient-name" name="name"
                                        value="{{i.name}}" placeholder="Name " required>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!----Wnd update Model -->
            {% endfor %}
        </table>

    </div>

</div>
<br><br><br>

{% endblock %}

<!----JS Block-->
{% block js_block %}
<script src="{% static 'myjs/category.js' %}"> </script>
{% endblock %}